.Home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel {
    width: 100%;
    padding: 2%;
}

.Landing-content {
    width: 90%;
    height: auto;
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Landing-heading {
    font-weight: 600;
    font-size: 2rem;
    color: brown;
}

.Landing-font {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: black;
}

.Landing-services {
    width: 30%;
}

.Landing-content-div {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.card {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0px 1px 5px black;
}

.landing-card-img {
    width: 100%;
    height: 320px;
}

@media (max-width: 415px) {
    .card-container {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom: 20px;
        padding: 10px;
    }

    .card {
        width: 90%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin-bottom: 20px;
        box-shadow: 0px 1px 5px black;
    }

    .landing-card-img {
        width: 100%;
        height: 220px;
    }

    .Home {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .carousel {
        width: 100%;
        padding: 2%;
        height: 300px;
    }

    .Landing-content {
        width: 90%;
        height: auto;
        padding: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .Landing-heading {
        font-weight: 600;
        font-size: 2rem;
        color: brown;
    }

    .Landing-font {
        font-family: 'Nunito', sans-serif;
        font-weight: 300;
        font-size: 1.5rem;
        color: black;
    }

    .Landing-services {
        padding-top: 10%;
        width: 90%;
    }

    .Landing-content-div {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
}